{%extends 'base/index.html'%}
{%load static %}
<br>
 {% block content %}

<br>
<div class="row row-cols-1 row-cols-md-3 g-4" >
  
  {% for post in posts %}
  <div class="col">
    
    <div class="card">
      <img class="card-image-top" src="{{post.picture.url}}"  height="250">
      <hr>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.description}}</p>
      </div>
      <div class="card-footer">
        <h5 class="card-title">{{post.author}}</h5>
        <small class="text-muted">{{post.created}}</small>
        <hr>
        <center>
            <a href="{% url 'post_update' post.id %} " class="btn btn-primary" id="">Update</a>
            <a href="{% url 'post_delete' post.id %}" class="btn btn-danger" id="">Delete</a>
        </center>

      </div>
  </div>
  
</div>
{% empty %}
<div class="card w-75">
  <div class="card-body">
    <p class="card-text">Hi {{request.user | title}}, there are no posts on your account.</p>
    <a href="{% url 'post_create' %}" class="btn btn-primary">Post</a>
  </div>
</div>
{% endfor %}
</div> 
{% endblock content %} 
<hr>
